html,
body,
ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.clearb:before,
.clearb:after {
  content: ".";
  height: 0px;
  overflow: hidden;
  clear: both;
  display: block;
}
.banner {
  width: 100%;
}
.banner img {
  width: 100%;
  border: 0;
  display: block;
}
.sendWord {
  background: url("../images/sendWordsBg_pc.jpg") left top no-repeat;
  background-size: 100% 100%;
  padding: 80px 0;
}
.sendWord .List {
  width: 1000px;
  margin: 0 auto;
}
.sendWord .List li {
  float: left;
  box-sizing: border-box;
}
.sendWord .List li .words {
  display: inline-block;
}
.sendWord .List .personPic {
  width: 20%;
}
.sendWord .List .personPic img {
  width: 100%;
}
.sendWord .List .wordsInfo {
  width: 28.5%;
  padding-top: 80px;
  padding: 62px 30px 0;
}
.sendWord .List .wordsInfo .words {
  font-size: 18px;
  color: #FFF;
}
.sendWord .List .wordsInfo_l {
  background: url("../images/sendWordShadow_l.png") left top no-repeat;
  background-size: 100% 100%;
}
.sendWord .List .wordsInfo_r {
  background: url("../images/sendWordShadow_r.png") left top no-repeat;
  background-size: 100% 100%;
}
.sendWord .List .space {
  width: 3%;
}
